<ion-header>
</ion-header>

<ion-content [class.onEnded]="onEnded" [class.ios]="isIos" padding>
  <div *ngIf="onEnded" (click)="dismiss()" class="top-right-close">
    <ion-icon color="white" name="close-circle"></ion-icon>
  </div>

  <div *ngIf="problemsOver" (click)="dismiss()" class="top-right-close">
    <ion-icon color="black" name="close-circle"></ion-icon>
  </div>

  <div *ngIf="onEnded && resultDeclared" (click)="genericShare()" class="top-left-share scaleme">
    <button class="share-button" ion-button>
      <ion-icon name="md-share"></ion-icon>
    </button>
  </div>

  <div [hidden]="onEnded || problemsOver">
    <div [hidden]="!isTutorial" class="tutorial"></div>
    <div [class.showcaseTop]="isTutorial && (tutorialStage == 1 || tutorialStage == 2 || tutorialStage == 3)" class="top-center">
      <ion-row>
        <ion-col [class.showcaseTopStage]="isTutorial && (tutorialStage == 2)" col-4 class="points col-edge">
          <div class="staging" text-center>
            {{ points }}
            <ion-icon [hidden]="points >= 0" color="danger" name="star"></ion-icon>
            <ion-icon [hidden]="points < 0" color="yellowsec" name="star"></ion-icon>
          </div>
        </ion-col>

        <ion-col [class.showcaseTopStage]="isTutorial && (tutorialStage == 1)" col-4 class="timer col-edge">
          <div class="staging" *ngIf="!isTutorial" text-center>
            <timer #timer timeInSeconds="{{ timerNum }}" showHours="false" (end)="onTimerFinished()"></timer>
          </div>
          <div *ngIf="isTutorial" text-center>
            00:30
          </div>
          <!-- <div text-center>
            <ion-icon class="timer-icon" ios="ios-timer" md="md-timer"></ion-icon>
          </div> -->
        </ion-col>

        <ion-col [class.showcaseTopStage]="isTutorial && (tutorialStage == 3 || tutorialStage == 4 || tutorialStage == 5)" col-4 class="lives col-edge">
          <div class="staging" text-center>
            <ion-icon [hidden]="perishableLives <= 0" color="lightred" name="heart" class="lives-heart"></ion-icon>
            <ion-icon [hidden]="perishableLives > 0" color="lightred" name="heart" class="lives-heart"></ion-icon>
            <span>
              {{perishableLives > 0?perishableLives:persistantLives}}
            </span>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="isTutorial" class="tutorial-text">
      <div [class.lastStage]="tutorialStage == 6" class="tutorial-bubble">
        <div class="text-center">
          {{tutorialText[tutorialStage]}}
        </div>
        <div (click)="nextStage()" [class.nextFinished]="tutorialStage ==  finalStageNumber" class="next-button">
          {{ tutorialStage ==  finalStageNumber?'Ok':'Next' }}
        </div>
      </div>
    </div>

    <!-- <div class="top-left">
      <ion-row>
        <ion-col class="points col-edge">
          <div text-center>
            {{ points }}
          </div>
          <div text-center>
            <ion-icon [hidden]="points >= 0" color="danger" name="star"></ion-icon>
            <ion-icon [hidden]="points < 0" color="yellowsec" name="star"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </div> -->
  </div>

  <!-- <div [hidden]="onEnded || problemsOver" class="top-center">
    <div class="static-timer" text-center>
      <div class="chosen-color animated bounce">
        <div class="">
           <ion-icon name="arrow-round-up"></ion-icon>
        </div>
        <div class="color-text">
          Pop in ascending order
        </div>
      </div>
    </div>
  </div> -->

  <div [hidden]="!problemsOver || onEnded" class="problems">
    <div text-center class="out-of-problems">
      {{problemText}}
    </div>
    <div padding class="game-div">
      <button color="whatsapp" (click)="refresh()" ion-button block class="bold">{{'REFRESH'}}</button>
    </div>
  </div>

  <div *ngIf="!isBumper" [hidden]="!onEnded" class="problems">
    <div [hidden]="!livesRemaining">
      <div [hidden]="resultDeclared" class="heading-after-game-over">
        GAME HAS ENDED
      </div>
    </div>
  </div>

  <div class="text-center" [hidden]="livesRemaining">
    <div class="heart-break">
      <img src="assets/img/heart-break.gif" alt="">
    </div>
    <div text-center class="thank-you">
      You are out of lives!
    </div>
  </div>

  <div *ngIf="!onEnded && !problemsOver" [class.sortTutorial]="isTutorial && (tutorialStage == 6)">
    <div [ngStyle]="gameStyle" id="game">
      <!-- Your Game HTML Goes Here! -->
    </div>
  </div>
</ion-content>
